@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Roboto+Mono:wght@200;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Roboto+Mono:wght@200;300;500&family=Work+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
:root {
    --font-primary: "Roboto Mono", serif;
    --font-secundary: "Petemoss", serif;    /* Importaçaõ de fontes */
    --font-joyce:  "Work Sans";
    --font-bebas: "Bebas Neue";
}

html{
    scroll-behavior: smooth;          
}

.hamburguer{
    width: 2rem;              /*  Botão de menu */
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .line {
    width: 100%;                    /* linhas do botao de menu */
    height: 0.1rem;
    background-color:	#2F4F4F;
    transition: transform 0.5s;
  }
  
  .show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
  }
  .show-menu #line2 {
    opacity: 0;
    visibility: hidden;
  }
  .show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
  }

  .hamburguer span {
    position: absolute;          
    left: 3rem;
    height: 2rem;
    width: 6rem;              /* Span fechar */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4F4F;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
  }
  
  .hamburguer span::before {
    content: "";                  /* Span fechar animação */
    position: absolute;
    border-right: 0.5rem solid #2F4F4F;       
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }

  .show-menu .hamburguer:hover span{
    opacity: 1;
  }

  header{
      width: 100%;
      height:100vh;                  /* Inicio do header */
      overflow: hidden;
      position: relative;
  }

  .img-primeiratela{
      width: 100%;            /* Definindo o tamanho da primeira tela*/
      height: 100%;
      overflow: hidden;
      background-color: white;
  }
  
  .img-primeiratela img{
      width: 100%;
      height: 100%;
      object-fit: cover;             /* ajustando a imagem ao tamanho da tela*/
      opacity: 0.6;
      animation: zoom 25s;
  }

  @keyframes zoom {
    0% {
      transform: scale(1.3);     /* Animação de zom da imagem*/
    } 
    100% {         
      transform: scale(1);
    }
  }

  .titulos{
    position: absolute;           /* div dos titulos */
    top: 20%;
    left: 2%;
    
  }

  .titulos h1{
      font-size: 70px;
      font-family: var(--font-joyce);            
      color: #2F4F4F;
      font-weight: 200;
      text-shadow: 0.1rem 0.2rem 3px rgba(0, 0, 0, 0.4);
      
      
  }

  .titulos p{
      font-size: 60px;
      font-family: var(--font-secundary);
      color:#2F4F4F;
      
    }
        
  .botao{
        width: 100px;
        height: 100px;               
        position: absolute;             /* div do botao saiba mais*/
        top: 85%;
        left: 2%;
        
    }

  .botao button{
      text-transform: uppercase;
      width: 200px;
      height: 50px;             
      letter-spacing: 0.1rem;             
      background: -webkit-linear-gradient(to right, #2F4F4F, #6a3093);
      background: linear-gradient(to left, #2F4F4F, black);
      color: whitesmoke;
      font-size: 20px;
      font-family: var(--font-primary);
      letter-spacing: 0.2rem;
      border-radius: 20px;
      border: none;
      cursor: pointer;
    }

  .botao button:hover{
    background: rgba(0, 0, 0, 0);      /* Animação do botão*/
    color: #2F4F4F ;
     border: solid 2px #2F4F4F;
    }

  .sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #2F4F4F;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
  }
      
  .show-menu .sidebar {
    right: 0;
  }
      
  .menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
      
  .menu-item {
    text-align: center;
    margin-bottom: 2rem;
  }
      
  .menu-link {
    font-family: var(--font-primary);
    font-size: 2rem;
    color: white;
    transition: color 0.4s;
  }

  .menu-link:hover{
    color: black;
          
    }
                       /* especilidades */
      .sessao-header h3{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sessao-header h1{
        font-family: var(--font-bebas);
        align-items: center;
      }

      .especialidades{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 6rem);
        row-gap: 0.5rem;
        border: solid 2px black;

      }

      .especialidade-text {
        font-family: var(--font-joyce);
        margin-top: 2rem;
        border: solid 2px black;
      }

      .especialidade:nth-child(1) {
        grid-column: 3 / 6;
        grid-row: 3 / 5;
      }
      
      .especialidade:nth-child(2) {
        grid-column: 7 / 11;
        grid-row: 5 / 2;
      }
      
      .especialidade:nth-child(3) {
        grid-column: 12 / 15;
        grid-row: 3 / 10;
      }
      
      
      
      .sessao-especialidades{
        width: 100%;            /* Definindo o tamanho da primeira tela*/
        height: 100vh;
        overflow: hidden;
        background-color: white;
        
      }
      
      .sessao-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
      }
      
      .sessao-header h1 {
        font-family: var(--font-joyce);
        font-size: 2rem;
        color: #2F4F4F;
        text-decoration: underline 2px; 
        margin-bottom: 0.7rem;
      }
      
      .especialidade-header {
        display: flex;
        align-items: center;
        color: #4b4b4b;
       
        
      }
      
      
      .especialidade-header h3 {
        font-family: var(--font-joyce);
        font-size: 2rem;
        padding-left: 1rem;
      }
      
      .especialidade-text {
        font-family: var(--font-joyce);
        margin-top: 1rem;
        margin-top: 10px;
        
      }
    
      .especialidades-img-wrapper{
        grid-column: 5 / 11;
        grid-row: 5 / 6;
        
      }

    /* inicio da sessão contato */

    .sessao-contato{
      width: 100%;
      height: 50vh;
      background-color: white;
      overflow: hidden;
      position: absolute;
      display: flex;
      margin: 0 auto;
      
      
    }

    .header-contato{
      text-align: center;
      
      
    }

    .header-contato h1{
      font-size: 50px;
      font-family: var(--font-bebas);
      color: #2F4F4F;
      text-align: center; 
      position: absolute;
      top: 5%;
      left: 46.6%;
      border-bottom: 1px black;
      text-decoration: underline 4px; 
    }

    .botoes-contato{
      position: absolute;
      top: 50%;
      left: 20%;
      width: 1000px;
      height: 20%;
      
      
 
    }

    .btn-ctt{
      text-transform: uppercase;
      margin: 50px;
      width: 200px;
      height: 50px;             
      letter-spacing: 0.1rem;             
      background: -webkit-linear-gradient(to right, #2F4F4F, #6a3093);
      background: linear-gradient(to left, #2F4F4F, black);
      color: whitesmoke;
      font-size: 20px;
      font-family: var(--font-primary);
      letter-spacing: 0.2rem;
      border-radius: 20px;
      border: none;
      cursor: pointer;
     
    }

    .btn-ctt:hover{
    background: rgba(0, 0, 0, 0);      /* Animação do botão*/
    color: #2F4F4F ;
     border: solid 2px #2F4F4F;
    }
  
    

   
    

    .img-contato{
      width: 100%;
      height: 100%;
      
    }

    .img-contato img{
      width: 100%;
      height: 100%;
      opacity: 0.2;

    }

    
    

    
   

  



      