 /* inicio da sessão contato */

    .sessao-contato{
      width: 100%;
      height: 50vh;
      background-color: white;
      overflow: hidden;
      position: absolute;
      display: flex;
      margin: 0 auto;
      background: grad;
     




      
      
    }

    .header-contato{
      text-align: center;
      
      
    }

    .header-contato h1{
      font-size: 50px;
      font-family: var(--font-bebas);
      color: #2F4F4F;
      text-align: center; 
      position: absolute;
      top: 5%;
      left: 46.6%;
      border-bottom: 1px black;
      text-decoration: underline 4px; 
    }

    .botoes-contato{
      position: absolute;
      top: 50%;
      left: 20%;
      width: 1000px;
      height: 20%;
      
      
 
    }

    .btn-ctt{
      text-transform: uppercase;
      margin: 50px;
      width: 200px;
      height: 50px;             
      letter-spacing: 0.1rem;             
      background: -webkit-linear-gradient(to right, #2F4F4F, #6a3093);
      background: linear-gradient(to left, #2F4F4F, black);
      color: whitesmoke;
      font-size: 20px;
      font-family: var(--font-primary);
      letter-spacing: 0.2rem;
      border-radius: 20px;
      border: none;
      cursor: pointer;
     
    }

    .btn-ctt:hover{
    background: rgba(0, 0, 0, 0);      /* Animação do botão*/
    color: #2F4F4F ;
     border: solid 2px #2F4F4F;
    }
  
    

   
    

    .img-contato{
      width: 100%;
      height: 100%;
      
    }

    .img-contato img{
      width: 100%;
      height: 100%;
      opacity: 0.2;

    }