@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Roboto+Mono:wght@200;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Roboto+Mono:wght@200;300;500&family=Work+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-primary: "Roboto Mono", serif;
    --font-secundary: "Petemoss", serif;    /* Importaçaõ de fontes */
    --font-joyce:  "Work Sans";
    --font-bebas: "Bebas Neue";
}


#especialidades{
    padding: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    
}

#especialidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#especialidades p{
    line-height: 1.5;
    margin: 2vh;
    font-size: 1em;
    font-family: var(--font-joyce);
}

#especialidades img{
    max-width: 100px;
}

#especialidades h2{
    font-size: 3rem;
    font-family: var(--font-primary);
    color: #2F4F4F;
}

#especialidades h3{
    font-size: 1.5rem;
    font-family: var(--font-joyce);
    color: #2F4F4F;
    text-transform: uppercase;
}




@media screen and (min-width: 768px){

    #especialidades{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 1000px;
      margin: 0 auto;
      
      
    }

    #especialidades h2{
        text-align: center;
        width: 100%;
    }
    #especialidades div{
        flex-grow: 1;
        flex-basis: 160px;
        padding: 0 10px;

    }
    #especialidades h3{
        margin: 10px auto;
    }

    }

    
